<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "../assets/fonts/avenir_next.css">
		<link rel = "stylesheet" type = "text/css" href = "../assets/fonts/futura.css">
		<link rel = "stylesheet" type = "text/css" href = "../assets/fonts/fontawesome.css">
		<link rel = "stylesheet" type = "text/css" href = "../css/main.css">
		<link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel = "shortcut icon" href = "../assets/img/stone_favicon.png"> 	
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>      
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>		
		<script src="../js/main.js"></script>	
		<link rel="stylesheet" href="../libs/scrollbar/jquery.mCustomScrollbar.css" />
		<script src="../libs/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>		
		<script src="../libs/slidesjs/jquery.slides.min.js"></script>
		<link rel="stylesheet" href="../libs/swiper/swiper.min.css" />
		<script src="../libs/swiper/swiper.min.js"></script>
		<link rel="stylesheet" href="../libs/vertical_nav/css/style.css" />
		<script src="../libs/vertical_nav/js/main.js"></script>		
		<link rel="stylesheet" type="text/css" href="../libs/slick/slick.css"/>
		<script type="text/javascript" src="../libs/slick/slick.min.js"></script>									
	</head>
	<body>
		<nav class="primary_nav home_nav">	
			<div class="left">
				<a href="../views/index.html">
					<img class="small_logo" src="../assets/img/logo_white.png"/>
				</a>
			</div>
			<div class="nav_links_list hide_on_769">
				<ul>
					<li>
						<a href="../views/about.html">
							<p>About</p>
						</a>
					</li>
					<li>
						<a href="../views/products.html">
							<p>Products</p>
						</a>
						<ul class="sub">
							<li>
								<a href="../views/slabs.html">Slabs</a>
							</li>
							<li>
								<a href="../views/tiles.html">Tiles</a>
							</li>
							<li>
								<a href="../views/new_arrivals.html">New Arrivals</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../views/applications.html">
							<p>Inspiration</p>
						</a>
					</li>
					<li>
						<a href="../views/learn.html">
							<p>Resources</p>
						</a>
						<ul class="sub">
							<li>
								<a href="../views/learn.html">Our Process</a>
							</li>
							<li>
								<a href="../views/material_specifications.html">Material Specifications</a>
							</li>
							<li>
								<a href="../views/faq.html">FAQ</a>
							</li>
							<li>
								<a href="../views/material_specifications.html">Fabricators</a>
							</li>
							<li>
								<a href="../views/material_specifications.html">Sample Request</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="../views/projects.html">
							<p>Projects</p>
						</a>
					</li>
					<li>
						<a href="../views/media.html">
							<p>Media</p>
						</a>
					</li>
					<li>
						<a href="../views/account.html">
							<p>Account</p>
						</a>
					</li>					
					<li>
						<a href="../views/contact.html">
							<p>Contact</p>
						</a>
					</li>
				</ul>
				<div class="search_state_wrapper">
					<form class="searchform_wrapper">
						<div class="searchform_content_wrapper search_state_box_animate">
							<input class="searchform_input" type="text" placeholder="Search New York Stone" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="off">
							<button class="searchform_button" type="submit"></button>
						</div>
						<div class="search_state_cancel_btn">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="-483 485 32 32" enable-background="new -483 485 32 32" xml:space="preserve">
								<path fill="#FFFFFF" d="M-451.8,517.1c-0.2,0-0.5-0.1-0.7-0.3l-30.3-30.3c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l30.3,30.3
								c0.4,0.4,0.4,1,0,1.4C-451.3,517-451.6,517.1-451.8,517.1L-451.8,517.1z M-482.2,517.1c-0.2,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4
								l30.3-30.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-30.3,30.3C-481.7,517-481.9,517.1-482.2,517.1L-482.2,517.1z"/>
							</svg>
						</div>
					</form>
					<aside class="search_helpers_container">
						<div>
							<h3 class="search_results_header search_state_box_animate">Quick Links</h3>
							<ul class="search_results_list">
								<li class="search_results_item search_state_box_animate">
									<a>Advanced Search</a>
								</li>
								<li class="search_results_item search_state_box_animate">
									<a>New Lots</a>
								</li>
								<li class="search_results_item search_state_box_animate">
									<a>Quartzite</a>
								</li>
								<li class="search_results_item search_state_box_animate">
									<a>Travertine Tiles</a>
								</li>
								<li class="search_results_item search_state_box_animate">
									<a>Onyx Tiles</a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
			<div class="right">
				<div class="search_clear_wrapper" id="activate_search_state">
					<span class="search_clear_icon">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="170 72 642 654" enable-background="new 170 72 642 654" xml:space="preserve">
						<g>
							<path d="M444.6,116c-57.5,0-115,21.9-159,65.5c-87.5,87.5-87.5,229.3,0,316.7c84.6,84.1,219.8,87,308,8.7l175.4,175.1
								c2.5,2.5,6.8,2.5,9,0.2c2.5-2.2,2.5-6.7,0.2-8.9L602.7,498.3c0.2-0.2,0.2-0.2,0.5-0.2c87.5-87.5,87.7-229,0.2-316.5
								C559.6,137.9,502.1,116,444.6,116L444.6,116z M444.6,128.5c54.1,0,108.5,20.6,149.7,62c82.8,82.5,82.8,216.1,0,298.6
								c-82.8,82.5-216.7,82.5-299.4,0s-82.8-216.1,0-298.6C336.1,149.1,390.5,128.5,444.6,128.5L444.6,128.5z"/>
						</g>
						</svg>

					</span>
				</div>
				<div class="show_on_769 inline_block">
					<a class="toggle_mobile_menu toggle_full_screen_modal" data-full_screen_modal_type="mobile_menu">
						<div></div>
						<div></div>
						<div></div>
					</a>
				</div>				
			</div>
		</nav>
		<nav class="mobile_menu full_screen_modal" id="mobile_menu_full_screen_modal">
			<div class="mobile_nav_header">
				<div class="left">
					<a href="#">
						<img class="small_logo" src="../assets/img/logo_white.png"/>
					</a>
				</div>
				<div class="right">
					<a class="close_mobile_menu close_full_screen_modal">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="69 47.5 64.5 64.5" enable-background="new 69 47.5 64.5 64.5" xml:space="preserve">
							<g>
								<g>
									<path stroke="#ffffff" stroke-width="3" stroke-miterlimit="10" d="M127.1,51.9l1,1c0,0,0,0.1,0,0.1L73,108.1c0,0-0.1,0-0.1,0
										l-1-1c0,0,0-0.1,0-0.1L127.1,51.9C127,51.9,127.1,51.9,127.1,51.9z"/>
								</g>
								<g>
									<path stroke="#ffffff" stroke-width="3" stroke-miterlimit="10" d="M73,51.9l55.1,55.1c0,0,0,0.1,0,0.1l-1,1c0,0-0.1,0-0.1,0
										L71.9,53c0,0,0-0.1,0-0.1L73,51.9C72.9,51.9,73,51.9,73,51.9z"/>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="nav_links_list nav_links_mobile">
				<ul>
					<li>
						<a href="../views/about.html">
							<p>About</p>
						</a>
					</li>
					<li>
						<a href="../views/materials.html">
							<p>Materials</p>
						</a>
					</li>
					<li>
						<a href="../views/applications.html">
							<p>Applications</p>
						</a>
					</li>
					<li>
						<a href="../views/learn.html">
							<p>Learn</p>
						</a>
					</li>
					<li>
						<a href="../views/projects.html">
							<p>Projects</p>
						</a>
					</li>
					<li>
						<a href="../views/media.html">
							<p>Media</p>
						</a>
					</li>					
					<li>
						<a href="../views/contact.html">
							<p>Contact</p>
						</a>
					</li>
				</ul>
			</div>
			<div class="mobile_nav_footer">
				<a>Get In Touch</a>
			</div>
		</nav>
		<div class="content_wrapper">
			<div class="material_products_content_wrapper">
				<div class="thin_inner_nav">
					<div class="left" id="breadcrumbs">
						<a href="../views/materials.html">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 34.7 50.8" enable-background="new 0 0 34.7 50.8" xml:space="preserve">
								<polyline fill="#53585F" points="33.1,1 1.1,25 33.1,49 33.1,42.8 9.6,25 33.1,7.2 "/>
							</svg>
							<p>Products</p>
						</a>
						<span>/</span>
						<a><p>Marble</p></a>
					</div>
					<div class="center">
						<div class="slab_tile_radio">
							<div class="option active">
								<p>Slab</p>
							</div>
							<div class="option">
								<p>Tile</p>
							</div>
						</div>
					</div>
					<div class="right" id="viewall">
						<p>View All</p>
					</div>
				</div>
				<div class="five_swatches_wrapper five_swatches_wrapper_category">
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_1.png)"></div>
							<h4>Calcatta Grey</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_2.png)"></div>
							<h4>Capraia Blue</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_3.png)"></div>
							<h4>Palisandro Blue</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_4.png)"></div>
							<h4>African Saint Laurent</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_5.png)"></div>
							<h4>Breccia Gold Vagli</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_10.png)"></div>
							<h4>Calacatta Bonotti</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_6.png)"></div>
							<h4>Fiori Di Bosco</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_7.png)"></div>
							<h4>Calacatta Caldia</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_8.png)"></div>
							<h4>Calacatta Vision</h4>
						</div>
					</a>
					<a href="../views/product_detail.html">
						<div class="product_swatch">
							<div class="product_swatch_image clickable_img" style="background-image:url(../assets/img/product_category_9.png)"></div>
							<h4>Imperial Danby</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
		<footer class="contrast_footer">
			<ul class="links">
				<li>
					<a>About</a>
				</li>
				<li>
					<a>Newsletter</a>
				</li>
				<li>
					<a>Contact</a>
				</li>
				<li>
					<a>Careers</a>
				</li>
				<li>
					<a>Privacy Policy</a>
				</li>
				<li>
					<a>FAQ</a>
				</li>
			</ul>
			<div class="footer_row">
				<div class="location_footer location_footer_left">
					<b>Showroom</b>
					<p>30 W 21st Street</p>
					<p>New York, NY 10010</p>
					<p>2 1 2 . 2 5 6 . 1 5 0 0</p>
				</div>
				<ul class="social_links">
					<li>
						<a class="footer_social_link">
							<span class="fa fa-facebook"></span>
						</a>
					</li>
					<li>
						<a class="footer_social_link">
							<span class="fa fa-twitter"></span>
						</a>
					</li>
					<li>
						<a class="footer_social_link">
							<span class="fa fa-pinterest"></span>
						</a>
					</li>
					<li>
						<a class="footer_social_link">
							<span class="fa fa-instagram"></span>
						</a>
					</li>
					<li>
						<a class="footer_social_link">
							<span>
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="0 0 145.7 143.7" enable-background="new 0 0 145.7 143.7" xml:space="preserve">
									<path fill="#7F7F7F" d="M124.6,142H20.7c-10.2,0-18.4-8.2-18.4-18.4V19.7c0-10.2,8.2-18.4,18.4-18.4h103.9
										c10.2,0,18.4,8.2,18.4,18.4v103.9C143,133.8,134.8,142,124.6,142z"/>
									<polyline fill="#FFFFFF" points="43.7,73.4 43.7,108.1 73.7,90.7 43.7,73.4 43.7,73.4 "/>
									<polyline fill="#FFFFFF" points="73.7,90.7 73.7,125.4 103.7,108.1 103.7,73.4 73.7,90.7 "/>
									<g>
										<polyline fill="#FFFFFF" points="73.7,56.1 103.7,73.4 103.7,38.7 73.7,56.1 	"/>
										<polyline fill="#FFFFFF" points="73.7,90.7 103.7,73.4 73.7,56.1 73.7,90.7 	"/>
									</g>
									<polyline fill="#FFFFFF" points="43.7,38.7 43.7,73.4 73.7,56 43.7,38.7 43.7,38.7 "/>
									<polyline fill="#FFFFFF" points="43.6,38.9 73.7,56.1 73.5,21.4 43.6,38.9 43.6,38.9 "/>
								</svg>
							</span>
						</a>
					</li>
				</ul>
				<div class="location_footer location_footer_right">
					<b>Warehouse</b>
					<p>31 Howell Street</p>
					<p>Jersey City, NJ 07306</p>
					<p>2 0 1 . 6 5 6 . 6 2 0 0</p>
				</div>
			</div>
			<div class="footer_row footer_row_2_last">
				<p class="copright">&#xa9; 2015 New York Stone LLC</p>
			</div>
			<div class="footer_row footer_row_last">
				<img class="footer_logo" src="../assets/img/logo_bluegray.png"/>
			</div>
		</footer>	
		<div class="search_state_curtain"></div>	
		<script type="text/javascript" src="../libs/skrollr.min.js"></script>
    	<script type="text/javascript">
	    	var s = skrollr.init({forceHeight: false});
	    </script>		
	</body>
</html>